@import '../../common.scss';

.productPaper{
    position: absolute;
    background-color: $white;
    border: 2px solid $primary;
    padding: $padding8px*2 ;
    border-radius: 10px;
    top:50%;
    left:49%;
    transform:translate( -50%, -49%);
    outline: 0;

    .productImage{
        height:400px;
        width:100%;
    }
    
    .product-title{
        display: inline-flex;
    }

    .productDetails{
        .productText{
            padding:$padding8px*2

            
        }

        .productButton{
            margin-left:20px
        }
    }
}
    


