@import '../../common.scss';

.TeaScreen{
    .item{
        text-align: center;
        
        .productImage{
            @include dimensions(200px,200px);
            border-radius: 50%;
        }

        .productPrice{
            font-size:$subTitle - 2px;
            font-weight:700;
            
        }

        .productName{
            color:$black;
            padding:$padding5px;
            text-transform: uppercase;
        }
    }
    
}